{% extends 'store/main.html'%}
{% load i18n %}
{% load static %}
{% load multiply %}
{% block content%}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper"> 
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="{% trans 'Name'%}">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder={% trans 'Email'%}>
                        </div>
                    </div>
                    <div id="shipping-info">
                        <hr>
                        <p>{% trans 'Shipping Information:' %}</p>
                        <hr>
                        <div class="form-field">
                            <div>
                                <small>{% trans 'Address'%}</small>
                            </div>
                            <input class="form-control" type="text" name="address" placeholder={% trans 'Address'%}>
                        </div>
                        <div class="form-field">
                            <div>
                                <small>{% trans 'City'%}</small>
                            </div>
                            <input class="form-control" type="text" name="city" placeholder={% trans 'City'%}>
                        </div>
                        <div class="form-field">
                            <div>
                                <small>{% trans 'Zip Code'%}</small>
                            </div>
                            <input class="form-control" type="text" name="zipcode" placeholder="4000" pattern="[0-9]+" title="Only numbers">
                        </div>
                        <div class="form-field">
                            <div>
                                <small>{% trans 'Country'%}</small>
                            </div>
                            <input class="form-control" type="text" name="country" placeholder={% trans 'Country'%}>
                        </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value={% trans 'Continue'%}>
                </form>
            </div>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>{% trans 'Payment Options'%}</small>
                <div id="paypal-button-container"></div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element"> 
                <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; {% trans 'Back to cart'%}</a>
                <hr>
                <h3>{% trans 'Order Summary'%}</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row" style="display: grid; grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 5fr; grid-gap: 10px;">
                    <div><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div><p>{{item.product.name}}</p></div>
                    <div><p>{{item.quantity}}</p></div>
                    <div><p>x</p></div>
                    <div><p>{{item.product.price}} BGN</p></div>
                    <div><p>=</p></div>
                    <div><p><strong>{{ item.product.price|multiply:item.quantity|floatformat:2 }} BGN</strong></p></div>
                </div>
                {% endfor %}
                <h5>{% trans 'Items: '%} <strong>{{order.get_cart_items}}</strong></h5>
                <h5>{% trans 'Total: '%} <strong>{{order.get_cart_total|floatformat:2}} BGN</strong></h5>
            <div>
        </div>
    </div>

    <div id="order-total" data-total="{{ order.get_cart_total|floatformat:2 }}"></div>
    <div id="order-info" data-shipping="{{order.shipping}}" data-store-url="{% url 'store' %}"></div>

    <script src="https://www.paypal.com/sdk/js?client-id=AY-fJbb3zM08C17G3Wnfef5JIFknq_XeDYqj2i7aQJqAzPVJeIp5sNkoLxotU76crO79oz1IrX88PJFd&currency=EUR"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/clear_cart.js' %}"></script>
    <script src="{% static 'js/paypal_button.js' %}"></script>
{% endblock content %}