
<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>
	<head>
		<title>Shooztars</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/nav_dropdown.css' %}">
	
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"/>
	
	</head>
	<body>
		<script type="text/javascript" >
			var user = '{{request.user}}'
		</script>
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="{% url 'store'%}">Shooztars</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'store'%}">{%trans "Store"%}<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{%trans "Language"%}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<h6 class="dropdown-header">{%trans "Choose language"%}</h6>
							<div class="dropdown-divider"></div>
							<div class="text-center">
								<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
									<input name="next" type="hidden" value="{{ request.path }}">
									<button name="language" type="submit" value="bg" class="btn btn-primary btn-lg" style="font-size: 42px; background-color: #1AD7ED; border-color: #1AD7ED;">🇧🇬</button>
									<button name="language" type="submit" value="en" class="btn btn-primary btn-lg" style="font-size: 42px; background-color: #1AD7ED; border-color: #1AD7ED;">🇬🇧</button>
								</form>
							</div>
						</div>
					</li>
					{% if request.user.is_authenticated and request.user.is_staff %}
					<li class="nav-item">
						<a class="nav-link" href={% url 'admin:index' %}>{%trans "Admin Page"%}</a>
					</li>
					<li class="nav-item">
						<button class="nav-link red-button" onclick="location.href='{% url 'add_product'%}'">{%trans "Add product"%}</button>
					</li>
					{% endif %}
				</ul>

				<div class="form-inline my-2 my-lg-0">
					<form method="GET" action="{% url 'search' %}">
						<div class="input-group">
							<input class="form-control mr-sm-2" type="search" name="q" placeholder="{% trans 'Search' %}" aria-label="Search">
							<div class="input-group-append">
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
				
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{% trans 'Price Filter' %}
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

						<form class="px-4 py-3" method="GET" action="{% url 'search' %}">
							<div class="form-group">
								<label for="minPrice">{% trans 'Min Price: '%}</label>
								<input type="number" class="form-control" id="minPriceInput" name="min_price" min="0">
							</div>
							<div class="form-group">
								<label for="maxPrice">{% trans 'Max Price: '%}</label>
								<input type="number" class="form-control" id="maxPriceInput" name="max_price" min="0">
							</div>
							<button type="submit" class="btn btn-primary">{% trans 'Apply'%}</button>
						</form>

					</div>
				</div>
				
				<div class="form-inline my-2 my-lg-0 ml-auto">
					{% if user.is_authenticated %}
						<span class="navbar-text"><strong style="color: white;">{% trans 'Welcome, '%}{{ user.first_name }} !</strong></span>
						<a href="{% url 'profile' %}" class="btn btn-danger" style="margin-left: 10px;">{% trans 'Profile'%}</a>
						<button onclick="location.href='{% url 'logout' %}'" class="btn btn-warning" style="margin-left: 10px;">{% trans 'Logout'%}</button>
					{% else %}
						<button onclick="location.href='{% url 'login' %}'" class="btn btn-warning">{% trans 'Login'%}</button>
					{% endif %}
					<a href="{% url 'cart' %}">
						<img id="cart-icon" src="{% static 'images/cart.png' %}">	
					</a>
					<p id="cart-total">{{cartItems}}</p>
				</div>
			</div>
		</nav>
	
	     <div class="container">
	            <br>
	            {% block content %}
		
		
	            {% endblock content %}
	         </div>
		 
		 
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		 
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		 
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		 
		<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
		 
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/lang_change.js' %}"></script>
		 
		<script>
			window.onload = function() {
				document.getElementById('minPriceValue').textContent = document.getElementById('minPrice').value;
				document.getElementById('maxPriceValue').textContent = document.getElementById('maxPrice').value;
			}
		</script>
	</body>
		{% block footer %}
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="text-center">
							&copy; {% now "Y" %} Shooztars. All rights reserved.
						</p>
					</div>
				</div>
			</div>
		</footer>
		{% endblock footer %}
</html>