<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>
    <head>

        <title>{% trans 'Login' %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/Reg_Log.css' %}">

    </head>
    <body>
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="user_card">
                        <div class="d-flex justify-content-center">
                            <h3 id="form-title">{% trans 'LOGIN' %}</h3>
                        </div>
                        <div class="d-flex justify-content-center form_container">
                            
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" name="username" placeholder="{% trans 'Username ...' %}" class="form-control">
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" name="password" placeholder="{% trans 'Password ...' %}" class="form-control">
                                </div>
                                <div class="d-flex justify-content-center mt-3 login_container">
                                    <input class="btn login_btn" type="submit" value="{% trans 'Login' %}">
                                </div>
                            </form>
                        </div>
                        
                        {% for message in messages %}
                        <p id="messages">{{message}}</p>
                        {% endfor %}

                        <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                                {% trans "Don't have an account?" %} <a href="{% url 'register' %}" class="ml-2">{% trans 'Sign Up' %}</a>
                            </div>
                        </div>

                        <div class="">
                            <div class="d-flex justify-content-center links">
                                {% trans 'Forgot password?' %} <a href="{% url 'password_reset' %}" class="ml-2">{% trans 'Reset password' %}</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        <script type="text/javascript" src="{% static '/js/lang_change.js' %}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </body>
</html>