<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>
    <head>
        <title>{% trans 'Password Reset Complete' %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Reg_Log.css' %}">
    </head>
    <body>
        <div class="d-flex justify-content-center h-100">
           <div class="user_card" style="width: 100%; max-width: 350px; height: 100%; max-height: 300px;">
               <div class="d-flex justify-content-center form_container">
                   <div style="width: 100%; text-align: center;">
                        <div style="width: 100%; text-align: center; margin-bottom: 2em;">
                            <h3 id="form-title">{% trans 'Password reset Complete' %}</h3>
                        </div>
                        <div style="width: 100%; text-align: center;">
                            <p style="margin-bottom: 0;">{% trans 'Your password has been successfully changed.' %}</p>
                            <p>{% trans 'You can now log in with your new password.' %}</p>
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <a class="btn login_btn" href="{% url 'login' %}">{% trans 'Log in' %}</a>
                        </div>
                   </div>
               </div>
           </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>